.the-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background-color: #000000;
}
.header-logo {
    width: 100px;
    flex-basis: 4%;
    margin-left: 10px;
}

.header-title {
    flex-basis: 20%;
    color: #ffffff;
    text-align: left;
    margin-left: 10px;
}